@import '../iconfont/iconfont.css';

a{
    text-decoration: none;
}

body {
    background-color: #fff;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
    div.bg{
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: -9999;
        background-image: url('../img/background.jpg');
        background-size: 100vw 100vh;
    }

    .header{
        height: 120px;

        .title{
            float: left;
            width: 32vw;
            height: 100%;
            min-width: 240px;
            text-align: right;
            color:rgb(63, 63, 63);
            text-shadow: #c0c0c0b3 1px 1px 2px;
            padding-top: 10px;

            .box{
                display: inline-block;
                text-align: center;
                .name{
                    line-height: 100%;
                    font-size: 36px;
                    padding: 0.5em 0;
                    font-weight: bold;
                }
                span.sub{
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
        
        .nav{
            float: right;
            width: 60vw;
            min-width: 550px;
            height: 100%;
            color:rgb(63, 63, 63);

            ul{
                list-style: none;
                margin-left: 10vw;
                height: 100%;
                margin: 0;
                li{
                    float: left;
                    width: 8vw;
                    min-width: 100px;
                    height: 100%;

                    a{
                        display: inline-block;
                        color:rgb(63, 63, 63);
                        text-shadow: #c0c0c0b3 1px 1px 2px;
                        font-weight: bold;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        line-height: 5;
                        font-size: 22px;

                        &:hover{
                            background-color: #ffffff2e;
                        }
                    }
                }
            }
        }
    }

    .footer{
        position: fixed;
        height: 40px;
        background-color: rgba(0,0,0,0.80);
        bottom: 0;
        width: 100vw;
        text-align: center;
        color: white;
        font-size: 14px;

        span{
            line-height: 40px;
            margin: 10px;
        }
    }

    .container{
        margin: 0 auto;
        width: 70vw;
        margin-top: 16px;
        padding-bottom: 60px;

        .index_page{
            .row{
                overflow: hidden;

                .left,.right{
                    float: left;
                }
                .left{
                    width: 40%;
                }
                .right{
                    width: 60%;
                    min-width: 400px;
                }

                .banner{
                    width:100%;height:220px; margin-top: 20px;overflow:hidden;position:relative;
                    ul{
                        height:220px;position:absolute;
                        padding:0px;margin:0px;
                        li{
                            float:left;height:220px;overflow:hidden;position:relative;background-color: black;
                            div{
                                position:absolute;overflow:hidden;
                            }
                        }
                    }

                    .btnBg{
                        position:absolute;width:100%;height:40px;left:0;bottom:0;background:#000;
                    }
                    .title{
                        position:absolute;width:545px;height:40px;left:0;bottom:0;text-align:left;line-height: 40px;padding-left: 20px;color:#fff; cursor:pointer;
                    }
                    .btn{
                        position:absolute;width:240px;height:10px;right:30px;bottom:25px;text-align:right;
                        span{
                            display:inline-block;width:43px;height:4px;;margin-left:5px;cursor:pointer;background:#fff;
                            .on{
                                background:#fff;
                            }
                        }
                    }
                    .pre{left:0;}
                    .next{right:0;background-position:right top;}
                }

                .static_1, .static_2{
                    .side{
                        float:left;
                        a{
                            display: block; margin-left: 20px; height: 220px; background-color: rgba(255,255,255,0.5);color:rgb(63, 63, 63);cursor:pointer;text-align:center;
                            h2{
                                padding-top: 50px;
                                i{
                                    display: block;
                                    font-size: 3em;
                                }
                            }
                        }
                    }
                }

                .static_1{
                    .side{
                        width: 50%;
                    }
                }
                .static_2{
                    .side{
                        width: 33.3%;
                    }
                }

                .card{
                    width: 100%;
                    height: 220px;
                    background-color: rgba(255,255,255,0.5);
                    margin-top: 20px;

                    .head{
                        height: 30px;
                        background-color: #4a4a4a;
                        color: white;
                        
                        .name{
                            font-weight: bold;
                            line-height: 30px;
                            padding-left: 20px;
                        }

                        .more{
                            float: right;
                            margin-right: 20px;
                            line-height: 30px;
                            font-size: 14px;
                            a{
                                color: white;
                            }
                        }
                    }

                    .body{
                        overflow: hidden;
                        ul li{
                            padding-top: 4px;
                        }
                        * a{
                            color: #0068d8;
                            font-size: 14px;
                            text-shadow: #0068d8 0 0.2px 0;
                        }
                        ul.claims li{
                            float: left;
                            display: block;
                            padding: 0 4px;
                            margin: 4px 0;
                            border-right: 1px solid gray;
                        }
                        ul.informations li{
                            span.time{
                                color: lightslategray;
                                float: right;
                                font-size: 10px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }

        .post,.list,.claim_form{
            width: 863px;
            margin: 0 auto;
            background: hsla(0, 0%, 100%, 0.85);
            overflow: hidden;
            padding: 10px 60px 60px 60px;
            min-height: 600px;
        }

        .post{

            .title{
                border-bottom: 1px solid #ddd;
                color: #2c86d3;

                h4{
                    font-size: 12px;
                    margin-top: 12px;
                    line-height: 32px;
                    text-align: center;
                    font-weight: normal;
                    color: black;

                    span{
                        margin: 0 15px;
                        display: inline-block;
                    }
                }
            }

            .content{
                color: #040404;
                font-size: 14px;
                line-height: 28px;
                padding: 20px 0;

                p{
                    text-indent: 40px;
                }

                p.img{
                    text-align: center;
                    text-indent: 0;
                    img{
                        max-width: 100%;
                    }
                }                

                pre{
                    text-indent: 40px;
                    white-space: pre-wrap;
                }
            }

            .claim{
                text-align: center;
                margin: 10px;
                a{
                    padding: 10px;
                    background-color: green;
                    display: inline-block;
                    color: white;
                    font-size: 25px;
                }
            }
        }

        .list{

            .title{
                color: #5ba3a6;
                font-size: 24px;
                margin: 20px 0
            }

            .main ul {
                padding-left: 0;
                li{
                    font-size: 14px;
                    padding: 5px 0;
                    list-style: none;
                    a{
                        display: block;
                        line-height: 40px;
                        background: #E8E6E6;
                        color: #040404;
                        cursor: pointer;
                        span{
                            margin: 0 8px;
                            &.time{
                                float: right;
                            }
                        }
                    }
                }
            }
        }

        .claim_form{
            .title{
                color: #5ba3a6;
                font-size: 24px;
                margin: 20px 0
            }

            * .muted{
                color: red;
            }
        }
    }
}